* {
    font-family: 'Heebo', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* ============= Responsive for maximum width ========== */
body {
    max-width: 1440px;
}
/* ================-=Header==================== */
header {
    background-color: rgba(255, 144, 14, .1);
    width: 100%;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

nav h1 {
    font-weight: 700px;
    font-size: 2em;
}

.menus {
    display: flex;
    font-size: 1em;
    color: #424242;
    line-height: 26px;
    width: 30%;
}

.menu {
    margin-left: 10%;
}

.intro {
    text-align: center;
}

.intro h2 {
    font-size: 3em;
    font-weight: 700;
    line-height: 77px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.intro-des {
    margin-bottom: 30px;
    color: #727272;
}

button {
    font-size: 20px;
    color: white;
    width: 170px;
    height: 66px;
    background-color: #FF900E;
    border-radius: 6px;
    border-style: none;
}


.banner {
    max-width: 100vw;
    margin: 0 auto;
    padding: 30px 100px;
}

.banner img {
    width: 100%;
}

/* ================= quick-list ================== */

.quick-list {
    display: flex;
    margin: 30px 100px;
    align-items: center;

}

.quick-list .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
    grid-area: auto;
    transform: scale(0.80);
}

.quick-list-des {
    color: #727272;
    margin: 20px 0px;
}

/* ================= Features ==================== */

.features {
    margin: 20px 100px;
    display: flex;
    justify-content: space-between;
}

.features-text {
    max-width: 36vw;
}

.features-text-main h2 {
    font-size: 45px;
    font-weight: 700px;
}

.fetures-text-heading {
    display: flex;
    margin-bottom: 10px;
}

.vertical {
    border-left: 3px solid #FF900E;
    margin-right: 20px;
}

.features-text-main-des,
.feature-list-des {
    color: #727272;
}

.features-text-main {
    padding-bottom: 20px;
}

.feature-list {
    box-shadow: 1px 1px 6px 10px #F6F6F6;
    padding: 30px;
}

.features-image img {
    max-width: 38vw;
}

.ten-years {
    text-align: center;
    /* position: relative;
    bottom: 120px;
    padding-bottom: 0;
    margin-left: 10vw; */
    transform: translate(20px, -110px);
}

.ten-years button {
    font-size: 30px;
    color: white;
    width: 220px;
    height: 100px;
    background-color: #FF900E;
    border-radius: 6px;
    border-style: none;
    line-height: 22px;
}

/* ================= Hire Us ================== */

.hire-us {
    background-color: rgba(255, 144, 14, .1);
    color: #000000;
    margin: 0px 100px 60px;
    padding: 80px 0;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

.hire-us ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.hire-us li {
    margin-bottom: 10px;
}

.hire-us h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.hire-us input, .hire-us textarea {
    width: 80%;
    min-width: 230px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.hire-us button {
    background-color: #FF900E;
    color: #FFFFFF;
}

/* ============= Facts ============ */

.facts {
    margin: 0px 100px;
}

.facts h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.facts-des {
    font-size: 16px;
    margin-bottom: 30px;
    color: #727272;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 60px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #FF900E;
    border-radius: 6px;
    width: 160px;
    height: 160px;
    align-items: center;
    transition: width .2s linear, height 1s linear; 
}

.icon:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #43d604;
    border-radius: 8px;
    width: 170px;
    height: 170px;
    align-items: center;
}

.icon img {
    display: block;
    margin: 0 auto;
}

.icon .number {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin-top: 6px;
}

.icon .text {
    text-align: center;
    font-size: 16px;
    color: #727272;
}

/* ================= Sponsors ==================== */

.sponsor {
    margin: 0 100px;
    text-align: center;
    margin-bottom: 30px;
}

.sponsor h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.sponsor-des {
    font-size: 16px;
    margin-bottom: 30px;
    color: #727272;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logo img {
    filter: grayscale(100%);
    width: 90%;
}

.footer {
    background-color: rgba(255, 144, 14, .1);
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
}

.footer p {
    margin: auto 0px;
}

.hide {
    display: none;
}


@media screen and (max-width: 576px) {

nav {
    flex-direction: column;
}

nav .menus {
    width: 80%;
}
nav .menu {
    margin-left: 8px;
}

.quick-list {
    flex-direction: column;
}

.quick-list .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features {
    flex-direction: column;
}

.ten-years {
    margin-bottom: 30px;
}

.features-text, .features-image img{
    max-width: 60vw;
}

.ten-years {
    transform: none;
}

.container {
    flex-direction: column;
}

.icons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logos {
    flex-direction: column;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 70%;
    margin-bottom: 10%;
}

.footer {
    margin: 0 20px;
}

}